.marg {
    margin: 4%; 
}

.name {
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.schedules1 {
    height: 60px;
}

.schedules {
    height: 100px;
    padding: 20px;
    line-height: 23px;
}

.links > a {
    color: black;
}

a:hover {
    color: #ea4f4c;
}