.marg {
    margin: 4%; 
}

.name {
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.schedules1 {
    height: 60px;
}

.schedules {
    height: 100px;
    padding: 20px;
    line-height: 23px;
}

.links {
    padding-top: 6px;
}

.links > a, li > a {
    color: blue;
}

a:hover, li > a:hover {
    color: #ea4f4c;
    text-decoration: underline;
}

li {
    padding-bottom: 10px;
}

.red {
    /* color: #ea4f4c;  */
    color: red;
    padding: 0%; 
    margin: 0%;
}
