.marg {
    margin: 4%; 
}

.name {
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.schedules1 {
    height: 60px;
    width: 250px;
}

.schedules {
    height: 100px;
    padding: 20px;
    line-height: 23px;
}

.links {
    padding-top: 6px;
}

.links > a {
    color: blue;
}

a:hover {
    color: #ea4f4c;
    text-decoration: underline;
}

.cent {
    text-align: center; /* Horizontal alignment */
}


