*{
    box-sizing: border-box;
}

html, body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /* align-items: center; */
    margin: 10px;
    background-color: rgb(247, 234, 219);
}

.contactus {
    width: 99%;
    padding: 30px;
    background-color: rgb(227, 108, 65);
    margin: 5px;
    border: 2px solid rgb(232, 64, 3);
    color: white;
}

p {
    font-size: 18px; 
    padding-left: 45px;
    line-height: 25px;
} 

li {
    font-size: 15px;
}

form {
    border: 5px solid #222;
    width: 1000px;
    box-shadow: 10px 10px 30px black;
    background-color: bisque;
}

input[type=text], input[type=tel], input[type=email], input[type=url] {
    display: flex;
    width: 100%;
    padding: 13px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #222;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #48ba48;
    color: white;
    padding: 14px 0;
    margin:auto;
    margin-bottom: 20px;
    border: none;
    width: 40%;
    display: block;
    font-size: 17px;
}

.star {
    margin: 0;
    padding: 0;
    color: rgb(221, 24, 24);
}

form > h1 {
   text-align:center;
   font-size:18;
}

.formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
}

.container {
    padding: 16px 0;
    text-align:left;
}

span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
}

/* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}