body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 60px;
}

main {
    background: url(images/mainpgpic.jpeg);
    height: 75vh;
    background-size: cover;
}

.imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    ppadding: 25px 25px 0 25px;
    border: 2px solid black;
    margin-left: 20px;
    margin-bottom: 40px;
}

img {
    height: 200px;
    width: 200px;
}

.forms {
    color: blue;
    padding-top: 12px;
}

.forms:hover {
    color: #ea4f4c;
    text-decoration: underline;
}

.new {
    font-size: 35px;
    text-decoration: underline;
}

.admins {
    display: flex;
    justify-content: end;
    padding-right: 15px;
    color: white;
    z-index: 2;
    padding-top: 53px;
    font-size: 21px;
}

.admins:hover {
    color: #ea4f4c;
    text-decoration: underline;
}

@media (max-width: 400px) {
    .imgs {
        float: inline-start;
        margin: 10% 15% 15% 15%;
    }
    .admins {
        margin-top: 18%;
    }
}

/* ------------------------------ */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    float: right;
    text-decoration: none;
    font-size: 18px;
    margin: 5px 8px;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border: none;
    padding-bottom: 14px;
}
  
.submitb {
    background-color: #48ba48;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
button:hover {
  opacity: 0.8;
}
  
.container {
    padding: 16px;
}
  
  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 130px;
}

.modal-content {
    background-color: bisque;
    margin: 5% auto 15% auto;
    border: 2px solid black;
    width: 40%; 
    height: 250px;
    border-radius: 11px;
    box-shadow: 8px 8px 30px black;
}
  
.animate {
    animation: animatezoom 0.6s;
}
  
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
@media screen and (max-width: 300px) {
   span.psw {
      display: block;
      float: none;
  }
}
